<div class="extra-info">
  <div id="intro">
    <%= content_tag :h1, t("pages.home.intro.title") %>
    <%= t("pages.home.intro.text").html_safe %>
  </div>

  <div id="values">
    <%= content_tag :h1, t("pages.home.values.title") %>
    <%= t("pages.home.values.text").html_safe %>
  </div>

  <div id="team">
    <%= content_tag :h1, t("pages.home.team.title") %>
    <%= t("pages.home.team.text").html_safe %>
  </div>

  <div id="city">
    <%= content_tag :h1, t("pages.home.city.title") %>
    <%= t("pages.home.city.text").html_safe %>
  </div>
</div>