<%= kwicks do %>

  <%= kwicks_panel(id: 'values', class: 'soft-round soft-shadow') do %>
    <div class="panel-expanded">
      <div class="panel-picture">
        <%= image_tag "architecture/architecture06.jpg" %>
      </div>
      <div class="panel-info panel-sumary soft-round">
        <%= content_tag :h2, t('pages.home.values.title') %>
        <%= t('pages.home.values.summary').html_safe %>
      </div>
    </div>
    <div class="panel-collapsed">
      <div class="panel-picture">
        <%= image_tag "architecture/architecture06_grayscale.jpg" %>
      </div>
      <div class="panel-info panel-label soft-round">
        <%= content_tag :h1, t('pages.home.values.title') %>
      </div>
    </div>
  <% end %>

  <%= kwicks_panel(id: 'team', class: 'soft-round soft-shadow') do %>
    <div class="panel-expanded">
      <div class="panel-picture">
        <%= image_tag "architecture/architecture04.jpg" %>
      </div>
      <div class="panel-info panel-sumary soft-round">
        <%= content_tag :h2, t('pages.home.team.title') %>
        <%= t('pages.home.team.summary').html_safe %>
      </div>
    </div>
    <div class="panel-collapsed">
      <div class="panel-picture">
        <%= image_tag "architecture/architecture04_grayscale.jpg" %>
      </div>
      <div class="panel-info panel-label soft-round">
        <%= content_tag :h1, t('pages.home.team.title') %>
      </div>
    </div>
  <% end %>

  <%= kwicks_panel(id: 'city', class: 'soft-round soft-shadow') do %>
    <div class="panel-expanded">
      <div class="panel-picture">
        <%= image_tag "architecture/architecture03.jpg" %>
      </div>
      <div class="panel-info panel-sumary soft-round">
        <%= content_tag :h2, t('pages.home.city.title') %>
        <%= t('pages.home.city.summary').html_safe %>
      </div>
    </div>
    <div class="panel-collapsed">
      <div class="panel-picture">
        <%= image_tag "architecture/architecture03_grayscale.jpg" %>
      </div>
      <div class="panel-info panel-label soft-round">
        <%= content_tag :h1, t('pages.home.city.title') %>
      </div>
    </div>
  <% end %>

<% end %>
