<ul class='kwicks'>
  
  <li id="values" class="panel-item soft-round soft-shadow">
    <div class="panel-expanded">
      <div class="panel-picture">
        <%= image_tag "architecture/architecture06.png" %>
      </div>
      <div class="panel-info panel-sumary soft-round">
        <%= content_tag :h2, t('pages.home.values.title') %>
        <%= t('pages.home.values.summary').html_safe %>
      </div>
    </div>
    <div class="panel-collapsed">
      <div class="panel-picture">
        <%= image_tag "architecture/architecture06_grayscale.png" %>
      </div>
      <div class="panel-info panel-label soft-round">
        <%= content_tag :h1, t('pages.home.values.title') %>
      </div>
    </div>
  </li>

  <li id="team" class="panel-item soft-round soft-shadow">
    <div class="panel-expanded">
      <div class="panel-picture">
        <%= image_tag "architecture/architecture04.png" %>
      </div>
      <div class="panel-info panel-sumary soft-round">
        <%= content_tag :h2, t('pages.home.team.title') %>
        <%= t('pages.home.team.summary').html_safe %>
      </div>
    </div>
    <div class="panel-collapsed">
      <div class="panel-picture">
        <%= image_tag "architecture/architecture04_grayscale.png" %>
      </div>
      <div class="panel-info panel-label soft-round">
        <%= content_tag :h1, t('pages.home.team.title') %>
      </div>
    </div>
  </li>

  <li id="city" class="panel-item soft-round soft-shadow">
    <div class="panel-expanded">
      <div class="panel-picture">
        <%= image_tag "architecture/architecture03.png" %>
      </div>
      <div class="panel-info panel-sumary soft-round">
        <%= content_tag :h2, t('pages.home.city.title') %>
        <%= t('pages.home.city.summary').html_safe %>
      </div>
    </div>
    <div class="panel-collapsed">
      <div class="panel-picture">
        <%= image_tag "architecture/architecture03_grayscale.png" %>
      </div>
      <div class="panel-info panel-label soft-round">
        <%= content_tag :h1, t('pages.home.city.title') %>
      </div>
    </div>
  </li>
  
</ul>