<div id="collaboration" class="panel round shadow">
  <div class="intro">
    <p><%= t('pages.collaboration.intro') %></p>
  </div>

  <div class="sections">
    <div class="left-section">
        <h3><%= t('pages.collaboration.structural_safety')%></h3>
          <ul>
            <li>
              <%= image_link_to("collaboration/insec.png", 
                                "http://www.insec.es", 
                                class: "round shadow border") %>
            </li>
            <li>
              <%= image_link_to("collaboration/getted.png", 
                                "http://getedsl.blogspot.com.es/",
                                class: "round shadow border") %>
            </li>
          </ul>

      <h3><%= t('pages.collaboration.thermal_comfort')%></h3>
      <ul>
        <li>
          <%= image_link_to("collaboration/orgaus.png", 
                            "http://www.orgaus.com/",
                            class: "round shadow border") %>
        </li>
      </ul>
    </div>

    <div class="right-section">
      <h3><%= t('pages.collaboration.acoustic_comfort')%></h3>
      <ul>
        <li>
          <%= image_link_to("collaboration/eko.png",
                            "http://www.ekoacustica.com/",
                            class: "round shadow border") %>

        </li>
      </ul>

      <h3><%= t('pages.collaboration.accesibility')%></h3>
      <ul>
        <li>
          <%= image_link_to("collaboration/lagunetxe.png", 
                            "http://www.lagunetxe.com/",
                            class: "round shadow border") %>
        </li>
      </ul>
    </div>
  </div>
</div>