<div id="header" class="sticky">
  <div id="header-content">
    <div id="logo">
      <%= link_to t('name'), home_path, id: 'arquitectar-logo', class: "round" %>
    </div>
    <div id="main-menu">
      <nav>
        <ul>
          <li>
            <%= link_to t('header.news'), news_path, class: "menubutton" %>
          </li>
          <li>
            <%= link_to t('header.projects'), projects_path, class: "menubutton" %>
          </li>
          <li>
            <%= link_to t('header.contact'), contact_path, class: "menubutton" %>
          </li>
        </ul>
      </nav>
    </div>
    <div id="user-menu">
    <% if signed_in? %>
      <nav>
        <ul>
          <li>
            <%= link_to gravatar_for(current_user, size: 24),
                        edit_user_path(current_user) %>
            <%= link_to current_user.name, 
                        edit_user_path(current_user) %>
          </li>
          <li>|</li>
          <li>
            <%= link_to t('users.list'), users_path %>
          </li>
          <li>|</li>
          <li>
            <%= link_to t('session.signout'), signout_path, method: :delete %>
          </li>
        </ul>
      </nav>
    <% else %>
      <nav>
        <ul>
          <li><%= link_to t('session.signin'), signin_path %></li>
        </ul>
      </nav>
    <% end %>
    </div>
  </div>
</div>