<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %>
    <section id="content" class="round">
      <% flash.each do |key,value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
      <% end %>
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %>
  </div>
  <%= content_tag(:div, debug(params), id: "debug") if Rails.env.development? %>
</body>
</html>
